* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    transition: background-color 1.5s ease;
}
#darkModeToggle {
    cursor: pointer;
    background: #2c3e50;
    border: none;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    width: 50px;
    height: 26px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
#darkModeToggle2 {
    display: none;
}
.toggle-icon {
    width: 20px;
    height: 20px;
    background: gold;
    border-radius: 50%;
    position: absolute;
    transform: translateY(0);
    transition: transform 1s ease;
}
body.dark-mode #darkModeToggle .toggle-icon, body.dark-mode #darkModeToggle2 .toggle-icon {
    transform: translateX(22px);
}
body.dark-mode {
    background-color: #000000;
    color: #fff;
    transition: background-color 1.5s ease;
}
body.dark-mode .navbar li a {
    color: #fff;
}
body.dark-mode .navbar li a:hover,
body.dark-mode .navbar li a.active {
    color: rgb(148,0,211);
}
body.dark-mode .navbar li a.active::after,
body.dark-mode .navbar li a:hover::after {
    background: rgb(148,0,211);
}
body.dark-mode .container h2,
body.dark-mode .container h1,
body.dark-mode .container p {
    color: #ffffff;
    transition: color 1.5s ease;
}
body.dark-mode .container .bn36 {
    color: #ffffff;
    border-color: #ffffff;
    transition: 1.5s ease;
}
body.dark-mode .container .bn36:hover {
    border-color: rgb(148,0,211);
    color: rgb(148,0,211);
}
body.dark-mode .menu-toggle:before,
body.dark-mode .menu-toggle:after,
body.dark-mode .menu-toggle .third-line {
    background-color: rgb(255, 255, 255);
    transition: background-color 1.5s ease;
}
body.dark-mode .menu-active {
    background-color: rgb(255, 255, 255);
    transition: background-color 1.5s ease;
}
body.dark-mode .menu-active li a {
    color: #000;
    transition: color 1.5s ease;
}
body.dark-mode .menu-toggle:before {
    transition: transform 0.5s ease;
    transform: translateY(-15px) rotate(0deg); 
}
body.dark-mode .menu-toggle:after {
    transition: transform 0.5s ease;
    transform: translateY(9px) rotate(0deg);
}
body.dark-mode .menu-toggle .third-line {
    transition: transform 0.5s ease;
    transform: translateY(-3px) rotate(0deg);
}
body.dark-mode .menu-toggle1::before{
    background-color: #000;
    transition: transform 0.5s ease, background-color 0.5s ease;
    transform: translateY(0) rotate(45deg);
  }
body.dark-mode .menu-toggle1::after {
    background-color: #000;
    transition: transform 0.5s ease, background-color 0.5s ease;
    transform: translateY(0) rotate(-45deg);
  }
body.dark-mode .third-line1{
    transition: transform 0.5s ease;
    display:none;
  }
header {
    background-color: none;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    padding: 0;
    margin-left: 50px;
    display: flex;
    height: 100px;
    background-color: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15vh;
}
.navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar li a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease;
}
.navbar li a:hover,
.navbar li a.active {
    color: rgb(148,0,211);
}
.navbar li a.active::after,
.navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(148,0,211);
    position: absolute;
    bottom: -2px;
    left: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 10%;
}
.container .text {
    width: 60%;
    flex: 1;
    padding: 20px;
}
 .container .picNgPogi {
  position: relative;
  height: 50vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .picNgPogi img {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
}
.container .shadow {
    background: rgba(80,80,80,.503);
    border-radius: 50%;
    content: "";
    display: block;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    height: 3rem;
    position: absolute;
    top: 19rem;
    width: 10rem;
}
.container h2 {
    font-size: 35px;
    margin:0;
    color: #000;
    transition: color 1.5s ease;
}
.container h1 {
    font-size: 55px;
    margin:0;
    color: #000;
    transition: color 1.5s ease;
}
.container p {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #000;
    transition: color 1.5s ease;
}
.container .bn36 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    border-color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95), 1.5s ease;
}
.container .bn36:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    border-color: rgb(148,0,211);
    color: rgb(148,0,211);
}
.menu-toggle {
    display: none;
} 
.menu-toggle:before,
.menu-toggle:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}
.menu-toggle:before {
    background-color: rgb(0, 0, 0);
    transition: transform 0.5s ease, background-color 1.5s ease;
    transform: translateY(-15px) rotate(0deg); 
}
.menu-toggle:after {
    background-color: rgb(0, 0, 0);
    transition: transform 0.5s ease, background-color 1.5s ease;
    transform: translateY(9px) rotate(0deg);
}
.menu-toggle .third-line {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    transition: background-color 1.5s ease;
    transform: translateY(-3px) rotate(0deg);
}
.menu-toggle1::before{
    background-color: #fff;
    transition: transform 0.5s ease, background-color 0.5s ease;
    transform: translateY(0) rotate(45deg);
}
.menu-toggle1::after {
    background-color: #fff;
    transition: transform 0.5s ease, background-color 0.5s ease;
    transform: translateY(0) rotate(-45deg);
}
.third-line1{
    transition: transform 0.5s ease;
    display:none;
}

@media (max-width: 768px) {
    #darkModeToggle {
        display: none;
    }
    #darkModeToggle2 {
        display: block;
        cursor: pointer;
        background: #2c3e50;
        border: none;
        border-radius: 20px;
        padding: 5px;
        position: relative;
        width: 50px;
        height: 26px;
        margin-right: 15vh;
        display: flex;
        align-items: center;
        z-index: 1;
    }
    .navbar {
        display: none;
    }
    .menu-toggle {
        display: block;
        width: 30px;
        height: 30px;
        background-color: transparent;
        position: absolute;
        top: 6.2vh;
        right: 20px;
        cursor: pointer;
        z-index: 2;
    }  
    .menu-active {
        display: flex;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 0;
        right: -16%;
        width: 95%;
        height: 100%;
        padding: 10px ;
        border-radius: 0 0px 10px 10px;
        opacity: 0.9;
        transition: background-color 1.5s ease;
        z-index: 2;
    }
    .menu-active li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .menu-active li a {
        color: #fff;
        font-size: 21px;
        padding-bottom: 8px;
        transition: color 1.5s ease;
    }
    .container {
        flex-direction: column;
        margin-top: -2rem;
        width: 100%;
    }
    .container .text {
        width: 100%;
        height: 50%;
        z-index: 1;
    }
    .container .picNgPogi {
        margin-top: -4rem;
        width: 100%;
        z-index: 0;
    }
    .container .picNgPogi img {
        width: 100%;
        height: 100%;
        border: none;
        position: absolute;
    }
    .container .shadow {
        background: rgba(80,80,80,.503);
        border-radius: 50%;
        content: "";
        display: block;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        height: 3rem;
        position: absolute;
        top: 22rem;
        width: 10rem;
    }
}

@media (max-width: 420px) {
    #darkModeToggle {
        display: none;
    }
    #darkModeToggle2 {
        display: block;
        margin-right: 10vh;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        z-index: 1;
    }
    .navbar {
        display: none;
    }
    .logo img {
        margin-left: 1em;
    }
    .menu-toggle {
        display: block;
        width: 30px;
        height: 30px;
        background-color: transparent;
        position: absolute;
        top: 4.2vh;
        right: 20px;
        cursor: pointer;
        z-index: 2;
    }  
    .menu-active {
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: #000;
        position: absolute;
        top: 0;
        right: -6.3rem;
        width: 90%;
        height: 100%;
        padding: 0;
        padding-top: 6em;
        border-radius: 1rem 0 0 1rem;
        opacity: 0.9;
        transition: background-color 1.5s ease;
        z-index: 2;
        animation: slideIn 0.5s ease-in-out;
    }
    .menu-active li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .menu-active li a {
        color: #fff;
        font-size: 28px;
        padding-bottom: 8px;
        transition: color 1.5s ease;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        margin-left: -100%;
        opacity: 0.9;
    }
}
